*{
  --white :#fafafa;
}
body {
  background-color: #313131;
  color:var(--white);

}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 400px;
  box-sizing: border-box;
  margin: 30px 0;
}

form #id {
  display: none;
}

form input {
  display: block;
  padding: 10px;
  border: none;
  background-color:var(--white);
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
  width: 100%;
}

input[type=submit] {
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: rgb(238, 238, 238);
}

table { 
  border-spacing: 8px;
}

th {
  background-color: var(--white);
  color: #313131;
}

td, th {
  padding: 5px 8px;
  border: 2px var(--white) solid;
  text-align: center;  border-radius: 10px 0;
}

table button {
  padding: 5px 8px;
  border: none;
  background-color: rgb(248, 114, 114);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  outline: none;
  margin-left: 5px;
}

table button:hover {
  background-color: rgb(245, 84, 84);
}